* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  overflow: hidden;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase; }

#gradient {
  z-index: -2;
  position: absolute;
  background: #090525;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#090525, black);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#090525, black);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#090525, black);
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, left bottom, from(#090525), to(black));
  background: linear-gradient(#090525, black);
  /* Standard syntax */
  width: 100vw;
  height: 100vh; }

#background {
  z-index: -1;
  position: absolute;
  background-image: url(../img/background.jpg);
  background-size: cover;
  opacity: 0.15;
  top: -21vh;
  width: 100vw;
  height: 121vh; }

nav#main-menu {
  height: 4.5vh;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-image: url(../img/menu.png);
  background-size: cover; }
  nav#main-menu a {
    font-size: 0.9vw; }
  nav#main-menu a:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline; }
  nav#main-menu img {
    width: 1vw;
    height: auto; }

#logo {
  z-index: 1;
  display: block;
  position: relative;
  margin: auto;
  top: -3vh;
  width: 3.5vw; }

nav#under-menu {
  position: relative;
  top: -4vh;
  width: 35vw;
  height: 5vh;
  margin: auto;
  background-color: black; }
  nav#under-menu a {
    width: 20vw;
    text-align: center;
    font-size: 1.4vw; }
  nav#under-menu a:hover {
    background-color: #988BB1; }

#articles {
  position: relative;
  white-space: nowrap;
  top: 5vh;
  max-height: 60vh;
  background-color: aqua;
  overflow: hidden; }
  #articles img {
    position: relative;
    left: -15vw;
    max-height: 60vh; }
